# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
.vscode/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
